* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #010758, #490d61);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  padding: 20px; /* Ekledim: Mobil cihazlarda içeriğin kenarlardan daha uzak olması için padding ekleyebilirsiniz. */
}

.hero h1 {
  font-size: 45px;
  font-weight: 500;
  margin-top: -50px;
  margin-bottom: 20px; /* Değiştirdim: Alt boşluk miktarını azalttım. */
}

textarea {
  width: 100%; /* Değiştirdim: Mobil cihazlarda genişliği tam ekran yapmak için 100% olarak değiştirdim. */
  max-width: 600px; /* Ekledim: Genişliği 600 pikselden fazla olmaması için max-width ekledim. */
  height: 250px;
  background: #403d84;
  color: #fff;
  font-size: 16px;
  border: 0;
  outline: 0;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px; /* Değiştirdim: Alt boşluk miktarını azalttım. */
}

textarea::placeholder {
  font-size: 16px;
  color: #ddd;
}

.row {
  width: 100%; /* Değiştirdim: Mobil cihazlarda genişliği tam ekran yapmak için 100% olarak değiştirdim. */
  display: flex;
  flex-direction: column; /* Ekledim: Mobil cihazlarda dikey düzende görünmesi için flex-direction'ı değiştirdim. */
}

select {
  width: 100%; /* Değiştirdim: Mobil cihazlarda genişliği tam ekran yapmak için 100% olarak değiştirdim. */
  color: #fff;
  background: #403d84;
  height: 50px;
  padding: 0 20px;
  border: 0;
  outline: 0;
  border-radius: 35px;
  margin-bottom: 20px; /* Değiştirdim: Alt boşluk miktarını azalttım. */
}
